{% style %}

.heading{
    text-align: center
}
.collection-list-container{
    display: flex;
    justify-content: "center";
    align-items : "center";
    flex-wrap: wrap
}
.single_collection{
  position: relative;
  max-width: 350px;
  max-height: 350px


}
.custom-image {
  width: 100%;
  height: 100%

}
.text-container{
    position: absolute;
    bottom: 0;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    color: "#ffffff";

}
.custom-image, .text-container:hover{
   height: 100%;
}
.text-ele{
    color: "fff";
    font-size: 18px;
}


{% endstyle %}





<div class= "page-width">
    <h1 class="heading">{{ section.settings.section_name }} </h1>
    <div class="collection-list-container">
        <div class="single_collection">
            <img src="https://effortless-theme-demo.myshopify.com/cdn/shop/files/mens-fashion-collection_480x.jpg?v=1674843627" class="custom-iamge"  />
            <div class="text-container"> <p class="text-ele">Men's Fashion </p> </div>
        </div>
        <div class="single_collection">
            <img src= "https://effortless-theme-demo.myshopify.com/cdn/shop/files/mens-swimwear-collection_480x.jpg?v=1674843676" class="custom-iamge"  />
            <div class="text-container"> <p  class="text-ele">Men's swimwear </p> </div>
        </div>
        <div class="single_collection">
            <img src="https://effortless-theme-demo.myshopify.com/cdn/shop/files/mens-underwear-collection_480x.jpg?v=1674843714" class="custom-iamge"  />
            <div class="text-container"> <p  class="text-ele">Men's Innerwear </p> </div>
        </div>
        <div class="single_collection">
            <img src=https://effortless-theme-demo.myshopify.com/cdn/shop/files/mens-fashion-collection_480x.jpg?v=1674843627 class="custom-iamge" />
            <div class="text-container"> Men's accesories </div>
        </div>
    </div>
    


</div>



{% schema %}
{
  "name": "custom-collection",
  "tag": "section",
  "class": "section",
  "settings": [

    {
        "type": "inline_richtext",
        "id": "section_name",
        "label": "Heading",
        "default": "Collections"
    
    },
    {
        "type": "select",
        "id": "custom_heading_size",
        "options": [
          {
            "value": "h2",
            "label": "t:sections.all.heading_size.options__1.label"
          },
          {
            "value": "h1",
            "label": "t:sections.all.heading_size.options__2.label"
          },
          {
            "value": "h0",
            "label": "t:sections.all.heading_size.options__3.label"
          }
        ],
        "default": "h1",
        "label": "t:sections.all.heading_size.label"
      }
   
   
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "collection",
      "settings": [
        {
          "type": "image_picker",
          "id": "collection_id",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        },
        {
         "type": "inline_richtext" ,
         "label": "Collection Heading",
         "id" : "collection_heading"
        }
      ]
    }
  ],
  "presets": [

    { "name": "custom-collection-section",
        "blocks": [
            {
              "type": "collection"
            },
            {
              "type": "collection"
            },
            {
              "type": "collection"
            }
          ]
    }
  ]



}




{% endschema %}