{% style %}

.heading{
    text-align: center
}



{% endstyle %}





<div class= "">
<h1 class="heading"> Collections </h1>

</div>



{% schema %}
{
  "name": "custom-collection",
  "tag": "section",
  "class": "section",
  "settings": [
   
  ],
  "presets": [

    { "name": "custom-collection-section"
    }
  ]



}




{% endschema %}