{% style %}

.heading{
    text-align: center
}



{% endstyle %}





<div class= "">
<h1 class="heading">{{ section.settings.section_name }} </h1>
<div class="collection-list-container">
    


</div>



{% schema %}
{
  "name": "custom-collection",
  "tag": "section",
  "class": "section",
  "settings": [

    {
        "type": "inline_richtext",
        "id": "section_name",
        "label": "Heading",
        "default": "Collections"
    
    },
    {
        "type": "select",
        "id": "custom_heading_size",
        "options": [
          {
            "value": "h2",
            "label": "t:sections.all.heading_size.options__1.label"
          },
          {
            "value": "h1",
            "label": "t:sections.all.heading_size.options__2.label"
          },
          {
            "value": "h0",
            "label": "t:sections.all.heading_size.options__3.label"
          }
        ],
        "default": "h1",
        "label": "t:sections.all.heading_size.label"
      }
   
   
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection-id",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        }
      ]
    }
  ],
  "presets": [

    { "name": "custom-collection-section",
        "blocks": [
            {
              "type": "featured_collection"
            },
            {
              "type": "featured_collection"
            },
            {
              "type": "featured_collection"
            }
          ]
    }
  ]



}




{% endschema %}