{% style %}

.heading{
    text-align: center
}



{% endstyle %}





<div class= "">
<h1 class="heading">{{ section.settings.section_name }} </h1>
<div class="collection-list-container">
    {% for block in section.blocks %}
        {% if block.collection_id != blank %}
            <img src=https://effortless-theme-demo.myshopify.com/cdn/shop/files/mens-fashion-collection_480x.jpg?v=1674843627  />

        {% endif %}

        {% if block.collection_heading != blank %}
         <h1> {{ block.collection_heading }}
        {% endif %}
        

        {% endfor %}

</div>
    


</div>



{% schema %}
{
  "name": "custom-collection",
  "tag": "section",
  "class": "section",
  "settings": [

    {
        "type": "inline_richtext",
        "id": "section_name",
        "label": "Heading",
        "default": "Collections"
    
    },
    {
        "type": "select",
        "id": "custom_heading_size",
        "options": [
          {
            "value": "h2",
            "label": "t:sections.all.heading_size.options__1.label"
          },
          {
            "value": "h1",
            "label": "t:sections.all.heading_size.options__2.label"
          },
          {
            "value": "h0",
            "label": "t:sections.all.heading_size.options__3.label"
          }
        ],
        "default": "h1",
        "label": "t:sections.all.heading_size.label"
      }
   
   
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "collection",
      "settings": [
        {
          "type": "image_picker",
          "id": "collection_id",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        },
        {
         "type": "inline_richtext" ,
         "label": "Collection Heading",
         "id" : "collection_heading"
        }
      ]
    }
  ],
  "presets": [

    { "name": "custom-collection-section",
        "blocks": [
            {
              "type": "collection"
            },
            {
              "type": "collection"
            },
            {
              "type": "collection"
            }
          ]
    }
  ]



}




{% endschema %}